*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.text{
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
}
.zero{
    height: 85vh;
}
.flex-container{
    display: flex;
    width: 100vw;
    height: 15vh;
    align-items: flex-end;
}
.first{
    background-color: red;
    width: 100%;
    height: 100%;
}
.second{
    background-color: violet;
    width: 100%;
    height: 100%;
}
.third{
    background-color: #F5DEB3;
    width: 100%;
    height: 100%;
}
.four{
    background-color: yellow;
    width: 100%;
    height: 100%;
}
.five{
    background-color: green;
    width: 100%;
    height: 100%;
}
.click{
    background-color: aqua;
}