*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#fecth-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* background-color: red; */
}
td{
    text-align: center;
    border: 1px solid black;
    width: 200px;
    background-color: #87CEEB;
    transition: 0.3s;
    border-radius: 5px;
}
td:hover{
    transform: translateY(-2px);
}